.container
   h1 {{recipe.title}}
   .row
      .col-md-6
         .well
            h5 Created by {{recipe.creator}}
            h5(ng-show="recipe.featured") Featured Recipe
            h5 Published on {{recipe.published | date}}

            h3 Cook Time
            h4 Hour: {{recipe.cooktimeHour}}
            h4 Minute: {{recipe.cooktimeMinute}}
            h4 Difficulty: {{recipe.difficulty}}
         .col-md-3.margin-bottom-med(ng-show="identity.isAuthenticated(recipe.creator)")
            button.btn.btn-primary(ng-click="deleteRecipe()") Delete Recipe
         .col-md-3.margin-bottom-med(ng-show="identity.isAuthenticated(recipe.creator)")
            button.btn.btn-primary(ng-click="editRecipe()") Edit Recipe
      .col-md-6
         .panel.panel-primary
            .panel-heading Ingredients
            .panel-body
               div(ng-repeat="tag in recipe.ingredients track by $index") {{tag}}
         .panel.panel-primary
            .panel-heading Directions
            .panel-body
               div(ng-repeat="tag in recipe.directions track by $index") {{tag}}