.container.top-padding-med
   .pull-right
      form.form-inline
         .form-group
            input.form-control(ng-model="searchText", placeholder="Filter")
         .form-group.margin-left-med
            select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
   table.table.table-hover.table-striped.table-condensed
      thead
         tr
            th Title
            th Creator
            th Publish Date
         tbody
            tr(ng-repeat="cookbook in cookbooks | filter:searchText | orderBy:sortOrder")
               td
                  a(href="/cookbooks/{{cookbook._id}}") {{cookbook.title}}
               td {{cookbook.creator}}
               td {{cookbook.published | date}}