.container
    h1 {{thisCookbook.title}}
    .row
        .col-md-6
            .well
                h5 Rating {{thisCookbook.rating}}
                h5 Created by {{thisCookbook.creator}}
                h5(ng-show="thisCookbook.featured") Featured Cookbook
                h5 Published on {{thisCookbook.published | date}}
            .col-md-3.margin-bottom-med(ng-show="identity.isAuthenticated(thisCookbook.creator)")
                button.btn.btn-primary(ng-click="deleteCookbook()") Delete Cookbook
            .col-md-3.margin-bottom-med(ng-show="identity.isAuthenticated(thisCookbook.creator)")
                button.btn.btn-primary(ng-click="editCookbook()") Edit Cookbook
        .col-md-6
            .panel.panel-primary
                .panel-heading Recipes
                .panel-body
                    div(ng-repeat="tag in recipes | filter:{cookbook:thisCookbook.title}")
                        a(href="/recipes/{{tag._id}}") {{tag.title}}